
⚠️  ROS2 Python packages added to Python path:
   /opt/ros/humble/lib/python3.10/site-packages
   /opt/ros/humble/local/lib/python3.10/dist-packages
   Note: pip in this venv can see but CANNOT manage these packages.
   Set ROS2_PTH_WARNED=1 to suppress.

absl-py==2.4.0
action-msgs==1.2.2
action-tutorials-interfaces==0.20.9
action-tutorials-py==0.20.9
actionlib-msgs==4.9.1
aiofiles==25.1.0
ament-cmake-test==1.3.14
ament-copyright==0.12.15
ament-cppcheck==0.12.15
ament-cpplint==0.12.15
ament-flake8==0.12.15
ament-index-python==1.4.1
ament-lint==0.12.15
ament-lint-cmake==0.12.15
ament-package==0.14.2
ament-pep257==0.12.15
ament-uncrustify==0.12.15
ament-xmllint==0.12.15
angles==1.15.0
annotated-doc==0.0.4
annotated-types==0.7.0
anygrasp_ros2==0.0.0
anyio==4.13.0
arm-api==0.0.0
attrs==26.1.0
audio-pakage==0.0.0
behavior_tree==0.0.0
bond==4.1.4
builtin-interfaces==1.2.2
catkin-pkg==1.1.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
clip @ git+https://github.com/ultralytics/CLIP.git@81ff68ed7ffcac3b40484c914f104f816757308d
composition-interfaces==1.2.2
contourpy==1.3.2
control-msgs==4.8.0
controller-manager==2.53.1
controller-manager-msgs==2.53.1
cuda-bindings==12.9.4
cuda-pathfinder==1.5.0
cuda-toolkit==12.8.1
curobo_core==3.0.0
cv-bridge==3.2.1
cycler==0.12.1
demo-nodes-py==0.20.9
diagnostic-msgs==4.9.1
diagnostic-updater==4.0.6
distro==1.9.0
docutils==0.22.4
domain-coordinator==0.10.0
dwb-msgs==1.1.20
empy==3.3.4
example-interfaces==0.9.3
examples-rclpy-executors==0.15.5
examples-rclpy-minimal-action-client==0.15.5
examples-rclpy-minimal-action-server==0.15.5
examples-rclpy-minimal-client==0.15.5
examples-rclpy-minimal-publisher==0.15.5
examples-rclpy-minimal-service==0.15.5
examples-rclpy-minimal-subscriber==0.15.5
exceptiongroup==1.3.1
fast-lio==0.0.0
fastapi==0.136.0
filelock==3.25.2
flake8==7.3.0
flatbuffers==25.12.19
following==0.0.0
fonttools==4.62.1
fsspec==2026.3.0
ftfy==6.3.1
gazebo-msgs==3.9.0
generate-parameter-library-py==0.7.1
geographic-msgs==1.0.6
geometry-msgs==4.9.1
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
image-geometry==3.2.1
iniconfig==2.3.0
interactive-markers==2.3.2
isaac_common_py==3.0.1
isaac_ros_apriltag_interfaces==3.2.5
isaac_ros_bi3d_interfaces==3.2.5
isaac_ros_common==3.2.5
isaac_ros_cumotion==3.0.0
isaac_ros_cumotion_examples==3.0.0
isaac_ros_cumotion_interfaces==3.2.5
isaac_ros_cumotion_object_attachment==3.2.0
isaac_ros_cumotion_python_utils==0.0.0
isaac_ros_cumotion_robot_description==3.0.0
isaac_ros_esdf_visualizer==3.0.0
isaac_ros_goal_setter_interfaces==3.2.5
isaac_ros_launch_utils==0.0.1
isaac_ros_moveit_goal_setter==3.2.0
isaac_ros_nitros_bridge_interfaces==3.2.5
isaac_ros_nova_interfaces==3.2.5
isaac_ros_pointcloud_interfaces==3.2.5
isaac_ros_rosbag_utils==3.0.1
isaac_ros_tensor_list_interfaces==3.2.5
isaac_ros_test==0.9.0
Jinja2==3.1.6
jiter==0.14.0
joint-state-publisher==2.4.0
kimi_api==0.0.1
kiwisolver==1.5.0
lap==0.5.13
lark==1.1.1
laser-geometry==2.4.1
launch==1.0.14
launch-param-builder==0.1.1
launch-pytest==1.0.14
launch-ros==0.19.13
launch-testing==1.0.14
launch-testing-ros==0.19.13
launch-xml==1.0.14
launch-yaml==1.0.14
lifecycle-msgs==1.2.2
livox-ros-driver2==1.0.0
logging-demo==0.20.9
map-msgs==2.1.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mccabe==0.7.0
mediapipe==1.0.1
message-filters==4.3.15
moveit-configs-utils==2.5.9
moveit-msgs==2.2.1
mpmath==1.3.0
nav-2d-msgs==1.1.20
nav-monitor==0.1.0
nav-msgs==4.9.1
nav2-common==1.1.20
nav2-msgs==1.1.20
nav2-simple-commander==1.0.0
netifaces==0.11.0
networkx==3.4.2
numpy==2.2.6
nvblox-msgs==3.2.5
nvidia-cublas==13.1.0.3
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti==13.0.85
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime==13.0.96
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.19.0.56
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile==1.15.1.6
nvidia-cufile-cu12==1.13.1.3
nvidia-curand==10.4.0.35
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver==12.0.4.66
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse==12.6.3.3
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu12==2.28.9
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.4.5
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
nvidia-nvtx-cu12==12.8.90
# Editable install with no version control (object-detection-generalist==0.1.0)
-e /home/tinker/tk25_ws/build/object_detection_generalist
# Editable install with no version control (object-detection-new==0.0.1)
-e /home/tinker/tk25_ws/build/object_detection_new
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
openai==2.32.0
opencv-contrib-python==4.13.0.92
opencv-python==4.9.0.80
orbbec_camera_msgs==2.7.6
osrf-pycommon==2.1.6
packaging==26.0
pan_tilt==0.0.1
pcl-msgs==1.0.0
pendulum-msgs==0.20.9
pillow==12.2.0
pluggy==1.6.0
polars==1.39.3
polars-runtime-32==1.39.3
protobuf==6.33.6
psutil==7.2.2
py-trees==2.4.0
py-trees-ros==2.4.0
py-trees-ros-interfaces==2.1.1
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.13.2
pydantic_core==2.46.2
pydocstyle==6.3.0
pydot==4.0.1
pyflakes==3.4.0
Pygments==2.20.0
pyparsing==3.3.2
pyserial==3.5
pytest==9.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-qt-binding==1.1.3
PyYAML==6.0.3
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.9
rcl-interfaces==1.2.2
rclpy==3.3.21
rcutils==5.1.8
realsense2_camera_msgs==4.57.7
regex==2026.4.4
requests==2.33.1
resource-retriever==3.1.3
rmw-dds-common==1.6.0
robot-localization==3.5.4
ros2action==0.18.18
ros2bag==0.15.16
ros2cli==0.18.18
ros2component==0.18.18
ros2doctor==0.18.18
ros2interface==0.18.18
ros2launch==0.19.13
ros2lifecycle==0.18.18
ros2multicast==0.18.18
ros2node==0.18.18
ros2param==0.18.18
ros2pkg==0.18.18
ros2plugin==5.1.3
ros2run==0.18.18
ros2service==0.18.18
ros2topic==0.18.18
rosbag2-interfaces==0.15.16
rosbag2-py==0.15.16
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.8
rosidl-cli==3.1.8
rosidl-cmake==3.1.8
rosidl-generator-c==3.1.8
rosidl-generator-cpp==3.1.8
rosidl-generator-py==0.14.6
rosidl-generator-rs==0.4.11
rosidl-parser==3.1.8
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.4
rosidl-typesupport-fastrtps-cpp==2.2.4
rosidl-typesupport-introspection-c==3.1.8
rosidl-typesupport-introspection-cpp==3.1.8
rpyutils==0.2.2
rqt-action==2.0.1
rqt-bag==1.1.6
rqt-bag-plugins==1.1.6
rqt-console==2.0.3
rqt-graph==1.3.2
rqt-gui==1.1.9
rqt-gui-py==1.1.9
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.9
rqt-py-console==1.0.2
rqt-reconfigure==1.1.4
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.1
scipy==1.15.3
scripts==3.9.0
sensor-msgs==4.9.1
sensor-msgs-py==4.9.1
shape-msgs==4.9.1
six==1.17.0
slam-toolbox==2.6.10
smclib==4.1.4
sniffio==1.3.1
snowballstemmer==3.0.1
sounddevice==0.5.5
srdfdom==2.0.7
sros2==0.10.9
starlette==1.0.0
statistics-msgs==1.2.2
std-msgs==4.9.1
std-srvs==4.9.1
stereo-msgs==4.9.1
sympy==1.14.0
teleop-twist-keyboard==2.4.1
tf-transformations==1.1.1
tf2-geometry-msgs==0.25.20
tf2-kdl==0.25.20
tf2-msgs==0.25.20
tf2-py==0.25.20
tf2-ros-py==0.25.20
tf2-sensor-msgs==0.25.20
tf2-tools==0.25.20
tinker-audio-msgs==0.0.0
tinker-nav-msgs==0.0.0
tinker_arm_msgs==0.0.0
tinker_vision_msgs_26==0.1.0
tk_vision_specialized==0.1.0
tomli==2.4.1
topic-monitor==0.20.9
torch==2.11.0+cu128
torchvision==0.26.0+cu128
tqdm==4.67.3
tracer-msgs==0.1.0
trajectory-msgs==4.9.1
transforms3d==0.4.2
triton==3.6.0
turtlesim==1.4.3
typeguard==4.5.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uf_ros_lib==0.0.0
ultralytics==8.4.33
ultralytics-thop==2.0.18
unique-identifier-msgs==2.2.1
urdfdom-py==1.2.1
urllib3==2.6.3
uvicorn==0.46.0
uvloop==0.22.1
# Editable install with no version control (vision-util==0.0.1)
-e /home/tinker/tk25_ws/build/vision_util
vision_track==0.0.0
visualization-msgs==4.9.1
vla==0.0.0
watchfiles==1.1.1
wcwidth==0.6.0
websockets==16.0
xacro==2.1.1
xarm_msgs==0.0.0
